.footer-main {
  background: #fa7d09;
  border-radius: 50px 50px 0 0;
  display: flex;
  flex-direction: row;
  margin: 30px 0 0 0;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer-img {
  align-self: center;
  background: #f8ece0;
  border-radius: 25px;
  padding: 5px;
  width: 40px;
}
.footer-container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
}
