.button-container {
  background: #f8ece0;
  border-radius: 15px;
  color: #444141;
  width: 80px;
  padding-top: 10px;
  height: 35px;
  padding-left: 5px;
}
.counter-output {
  font-size: 20px;
  color: #444141;
}
.control-button {
  background: #f8ece0;
  border: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}
