.button-container {
  background: #f8ece0;
  border-radius: 15px;
  color: #444141;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 15px;
}
.counter-output {
  font-size: 30px;
  color: #444141;
}
.control-button {
  background: #f8ece0;
  border: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
}
