.login-main {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    max-height: calc(100vh - 10px);
    min-height: calc(100vh - 10px);
  }
  .login-h1 {
    margin-top: 50px;
    font-size: 50px;
    font-weight: 200;
  }
  .login-img {
    align-self: center;
    margin: 50px;
    width: 125px;
  }
  .login-section {
    background: #fa7d09;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: auto;
    padding-bottom: 100px;
    padding-top: 5px;
  }
  .login-h2 {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 40px;
  }
  .login-p {
    color: #1f262e;
    display: inline-block;
    font-size: 20px;
    text-align: left;
    width: 60px;
  }
  .login-input {
    background: #1f262e;
    border: 0;
    border-radius: 10px;
    color: #f8ece0;
    font-size: 20px;
    margin-left: 50px;
    padding: 10px 150px 10px 10px;
    width: 200px;
  }
  .login-button {
    background: #f8ece0;
    border: 0;
    border-radius: 25px;
    color: #1f262e;
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 10px 60px;
    width: 275px;
  }