

.payment-main {
  /* max-width: 300px; */

  /* padding: 20px; */
  background-color: #F8ECE0;
  border-radius: 10px;
}

.payment-h1 {
  font-size: 32px;
  text-align: center;
  margin-top: 0;
  color: #1F262E;
}

.payment-section {
  margin-bottom: 20px;
}

.payment-label {
  /* display: block; */
  margin-bottom: 5px;
  font-weight: bold;
  color: #1F262E;
}

.payment-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  color: #1F262E;
}

.payment-button {
  display: block;
  width: 100%;
  background-color: #FA7D09;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.payment-button:hover {
  background-color: #444141;
}


p{
  color: #1F262E;
}