.payment-main {
  background-color: #1f262e;
  border-radius: 15px;
}
.payment-section {
  margin-left: 10px;
  margin-right: 10px;
}
.payment-h1 {
  font-size: 32px;
  margin-top: 0;
  color: #f8ece0;
}
.payment-section {
  margin-bottom: 20px;
  background: #444141;
  border-radius: 10px;
  padding: 10px;
}
.payment-label {
  color: #f8ece0;
}
.payment-input {
  padding: 10px;
  border-radius: 10px;
  border: 0;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  color: #1f262e;
  background: #f8ece0;
  margin-top: 5px;
  margin-bottom: 5px;
}
.payment-button {
  display: block;
  width: 100%;
  background-color: #fa7d09;
  color: #f8ece0;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
.payment-form {
  background: #444141;
  border-radius: 15px;
  padding: 15px;
}