.searchbar-input {
  background: #444141;
  border: 0;
  border-radius: 25px;
  padding: 10px;
  color: #f8ece0;
}
.searchbar-button {
  background: #444141;
  border: 0;
  border-radius: 25px;
  margin-left: 5px;
  padding: 8px;
  color: #f8ece0;
}
/* .searchbar-img {
  width: 12px;
} */
