.login-main {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.login-h1 {
  margin-top: 50px;
  font-size: 50px;
}
.login-img {
  align-self: center;
  margin: 10px 50px 50px 50px;
  width: 125px;
}
.login-section {
  background: #fa7d09;
  border-radius: 25px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: auto;
  padding-bottom: 10px;
  padding-top: 5px;
}
.login-h2 {
  font-size: 40px;
  margin-bottom: 40px;
}
.login-p {
  color: #1f262e;
  display: inline-block;
  font-size: 20px;
  text-align: left;
  width: 60px;
}
.login-input {
  background: #1f262e;
  border: 0;
  border-radius: 10px;
  color: #f8ece0;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  width: 300px;
  margin-left: 20px;
}
.login-button {
  background: #f8ece0;
  border: 0;
  border-radius: 25px;
  color: #1f262e;
  font-size: 35px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px 30px;
  width: 240px;
}
.login-p-white {
  font-size: 20px;
}
.login-div {
display: flex;
justify-content: center;
height: 44px;
}
.login-input-password {
  background: #1f262e;
  border: 0;
  border-radius: 10px;
  color: #f8ece0;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  width: 300px;
  margin-left: 22px;
}
.login-img-logo {
  margin-left: 8px;
}
.login-error {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}