.itemcard-container {
  background: #444141;
  border-radius: 0 0 25px 25px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}
.addtocart-button {
  background: #f8ece0;
  border: 0;
  font-size: 25px;
  border-radius: 15px;
  margin: auto;
  color: #444141;
  padding: 5px 10px;
  margin-right: 40px;
}
